extends layouts/layout

block head
    != css('single-form')

block content
    form(method="POST").form-single
        h2.form-single-heading Forgot Password
        input(name="email", type="text", placeholder="Email Address").form-control
        input(type="submit", value="reset my password").btn.btn-primary.btn-lg.btn-block