extends layouts/layout

block head
    != css('single-form')

block content
    .panel.col-md-offset-4.col-md-4(ng-controller="ResetPasswordController")
        h2.form-single-heading Reset Password

        p Enter your new password in the form below.

        div.alert.alert-success.ng-cloak(ng-show="RequestComplete")
            strong Success.
            |  Your Password has been reset. You may now sign in with your new password.
            a(href="/sign-in") Sign in.


        div.alert.alert-danger.ng-cloak(ng-show="HasErrors")
            strong Error.
            |  There was one or more errors. Please correct them and try again.
            ul.unstyled
                li(ng-repeat="error in Errors") {{error.message}}

        form(name="ResetPasswordForm", autocomplete="off", novalidate, ng-submit="Submit()", ng-show='!RequestComplete')
            input(name="resetKey", type="hidden", value="#{hash}")

            .form-group(ng-class="{'has-error required': ResetPasswordForm.password.$dirty && ResetPasswordForm.password.$invalid, 'has-success':ResetPasswordForm.password.$dirty && !ResetPasswordForm.password.$invalid}")
                label.sr-only Password
                .input-group
                    span.input-group-addon
                        i.glyphicon.glyphicon-lock
                    input(ng-model="ResetPassword.password", name="password", type="password", placeholder="Password", required='required', ng-disabled="ProcessingRequest").form-control
                p.help-block.ng-cloak(ng-show="ResetPasswordForm.password.$dirty && ResetPasswordForm.password.$error.required")
                    | This field is required
            .form-group
                button(type="submit", loading-button, data-loading="{{ProcessingRequest}}", data-loading-text="Resetting password...", ng-disabled="ResetPasswordForm.$invalid || ResetPasswordForm.$pristine").btn.btn-primary.btn-lg.btn-block Reset Password