extends layouts/layout
block content
    h1= title
    form(method="POST")
        label reset password
        input(name="resetKey", type="hidden", value="#{hash}")
        input(name="password", type="password")
        input(type="submit", value="reset password")