doctype 5
html(lang="en")
    head
        title= title
        != css('style')
        block head
    body

        block primary-navigation

        .container
            block content
        != js('frameworks')
        != js('app')


